<!DOCTYPE html>
<html>

<head>
  <style>
    img {
      height: 64px;
    }

    .logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo-wrapper > img {
      margin-right: 10px;
    }

    .info {
      font-size: 0.75rem;
      color: #555;
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="logo-wrapper">
      <img src="{{logoUrl}}" />
      <h1>Projeto AEE</h1>
    </div>

    <h1>Recuperação de Senha</h1>
    <br />
    
    <p>Oi, {{name}}!</p>
    <p>Você solicitou alteração de senha.</p>
    <p>Para realizar a troca, clique neste <a href="{{link}}" target="_blank">link</a>.</p>

    <p class="info">Caso não tenha sido você quem solicitou a alteração da senha, basta ignorar este e-mail.</p>
    <p class="info">Não responda este e-mail.</p>

    <p>Atenciosamente,</p>
    <strong>Equipe AEE</strong>
  </div>
</body>

</html>